/* Small Screen Styles */
@media (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
  }

  .bar {
    width: 30px;
    height: 4px;
    background-color: var(--secondary-color);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: rotate(50deg) translate(6px, 9px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-50deg) translate(5px, -9px);
  }

  #nav-menu {
    display: none;
    background-color: var(--hf-color);
    z-index: 1000;
  }

  #nav-menu.active ul {
    flex-direction: column;
    gap: 5px;
  }

  #nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  #nav-menu ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--secondary-color);
  }

  .info-section {
    flex-direction: column;
  }

  .info-section div {
    margin-bottom: 20px;
  }

  .business-listings {
    flex-direction: column;
  }

  .business-card {
    margin-bottom: 20px;
  }

  .footer-content {
    flex-direction: column;
  }

  .more-nav {
    right: 10px;
  }

  .more-nav a {
    color: var(--hf-color) !important;
  }

  #info-section {
    flex-direction: column;
  }

  .membership-cards {
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
  }
  
  form {
    width: 90%;
  }

  form input[type="text"], form input[type="email"], form input[type="tel"], form select, form textarea {
    width: 100%;
    margin: 5px 0;
  }

  .current-page-name {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
    margin: 0 20px;
  }
}
  
  /* Small Screens */
@media (max-width: 640px) {
  .grid-container {
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6"
      "card7"
      "card8";
  }
}
  
  /* Medium Screens */
@media (min-width: 641px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}
  
  /* Large Screens */
@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }

  .grid-container figure:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
}

/* Hide the current page name on larger screens */
@media (min-width: 769px) {
  .current-page-name {
    display: none;
  }
}
